@model OnlineHelpDesk.Models.HomeViewModel
@{
    int requestCount = Model.Requests;
    int userCount = Model.Users;
    int facilityCount = Model.Facilities;
    int equipmentCount = Model.Equipments;
}

@{
    ViewBag.Role = "Student";
    ViewBag.Avatar = "../../Content/AppImages/useraccount.png";
    Layout = "~/Views/Shared/Home/_HomeLayout.cshtml";
}

@if (User.IsInRole("SuperAdmin"))
{
    <section class="py-5">
        <div class="row">
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-violet"></div>
                        <div class="text">
                            <h6 class="mb-0">Requests</h6><span class="text-gray">@requestCount</span>
                        </div>
                    </div>
                    <div class="icon text-white bg-violet"><i class="far fa-clipboard"></i></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-green"></div>
                        <div class="text">
                            <h6 class="mb-0">Users</h6><span class="text-gray">@userCount</span>
                        </div>
                    </div>
                    <div class="icon text-white bg-green"><i class="fa fa-user"></i></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-blue"></div>
                        <div class="text">
                            <h6 class="mb-0">Facilities</h6><span class="text-gray">@facilityCount</span>
                        </div>
                    </div>
                    <div class="icon text-white bg-blue"><i class="fa fa-building"></i></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-red"></div>
                        <div class="text">
                            <h6 class="mb-0">Equipments</h6><span class="text-gray">@equipmentCount</span>
                        </div>
                    </div>
                    <div class="icon text-white bg-red"><i class="fa fa-inbox"></i></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row mb-4">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h6 text-uppercase mb-0">Current server uptime</h2>
                    </div>
                    <div class="card-body">
                        <div class="chart-holder">
                            <canvas id="lineChart1" style="max-height: 14rem !important;" class="w-100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0 pl-lg-0">
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-violet"></div>
                        <div class="text">
                            <h6 class="mb-0">Created Request</h6><span id="created-request" class="text-gray">127</span> <span class="text-gray">requests</span>
                        </div>
                    </div>
                    <div class="icon bg-violet text-white"><i class="fas fa fa-sticky-note"></i></div>
                </div>
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-gray-200"></div>
                        <div class="text">
                            <h6 class="mb-0">Assigned Request</h6><span id="assigned-request" class="text-gray">214</span> <span class="text-gray">requests</span>
                        </div>
                    </div>
                    <div class="icon bg-gray-200 text-white"><i class="fa fa-check"></i></div>
                </div>
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-gray-500"></div>
                        <div class="text">
                            <h6 class="mb-0">Processing Request</h6><span id="processing-request" class="text-gray">25</span> <span class="text-gray">requests</span>
                        </div>
                    </div>
                    <div class="icon bg-gray-500 text-white"><i class="fas fa fa-spinner"></i></div>
                </div>
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-green"></div>
                        <div class="text">
                            <h6 class="mb-0">Completed Request</h6><span id="completed-request" class="text-gray">25</span> <span class="text-gray">requests</span>
                        </div>
                    </div>
                    <div class="icon bg-green text-white"><i class="fa fa-clipboard-check"></i></div>
                </div>
                <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-red"></div>
                        <div class="text">
                            <h6 class="mb-0">Closed Request</h6><span id="closed-request" class="text-gray">25</span> <span class="text-gray">requests</span>
                        </div>
                    </div>
                    <div class="icon bg-red text-white"><i class="fa fa-times-circle"></i></div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="py-5">
        <div class="row">
            <div class="col-xl-12 col-lg-12 mb-4 mb-xl-0 text-center">
                <h2 class="mb-0">Wellcome to Online Help Desk System</h2>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="row">
            <div class="col-lg-12 bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 mb-4 mb-xl-0 text-center px-5 py-3">
                        <h3 class="mb-0">How to create a Request?</h3>
                    </div>
                    <div class="col-lg-12">
                        <div class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                            <div class="row">
                                <div class="col-lg-12 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                    <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">Access to CreateNewRequest</div>
                                    <p class="mb-0 mt-3 mt-lg-0">Click into 'Create New Request' button on sidebar</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                            <div class="row">
                                <div class="col-lg-12 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                    <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">Fill form</div>
                                    <p class="mb-0 mt-3 mt-lg-0">Fill out all field of Create New Request Form</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                            <div class="row">
                                <div class="col-lg-12 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                    <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">Send Request</div>
                                    <p class="mb-0 mt-3 mt-lg-0">Click 'Send Request' button and wait response</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section scripts {
    @if (User.IsInRole("SuperAdmin"))
    {
        @Scripts.Render("~/bundles/chart")
    }
}