@model OnlineHelpDesk.Models.ImportDataViewModel
@{
    ViewBag.Title = "Import User Data";
    ViewBag.Import = "active";
}

@if (ViewBag.Message != null)
{
    @ViewBag.Message
}
    <section class="py-5">
        <div class="row">
            @using (Html.BeginForm("UploadExcel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <label for="select-role">Role</label>
                <select id="select-role" name="role">
                    @*<option value="SuperAdmin">Super Admin</option>*@
                    <option value="Student">Student</option>
                    <option value="Assignor">Assignor</option>
                    <option value="FacilityHead">Facility Heads</option>
                </select>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <label for="file-upload" class="btn-upload">
                    <i class="fa fa-upload"></i> Select *.xls/*.xlsx file
                    @Html.TextBoxFor(m => m.File, new { type = "file", id = "file-upload", onchange = "selectedFileChange(this);" })
                </label>
                <span id="filename"></span>
                @Html.ValidationMessageFor(m => m.File)
                <br />

                <input type="hidden" name="importFor" value="@ViewBag.ImportFor" />
                <input id="btn-upload" type="submit" name="submit" value="Upload" class="d-none" />
            }
        </div>
    </section>
    <script>
        function selectedFileChange(myFile) {
            var filename = myFile.files[0].name;
            var btnUpload = document.getElementById('btn-upload');
            var spanMessage = document.getElementById('filename');
            var inputUpload = document.getElementById('file-upload');

            if (filename.slice(-5).indexOf(".xls") > -1) {
                btnUpload.classList.remove("d-none");
                spanMessage.innerHTML = myFile.files[0].name;
            } else {
                inputUpload.value = null;
                spanMessage.innerHTML = "NOT a EXCELL file!";
            }

        }
    </script>
