@model IEnumerable<OnlineHelpDesk.Models.ProfileViewModel>

@{
    ViewBag.Title = "Users";
}

    <section class="py-5">
        <div class="row">
            <div class="col-lg-12 card px-5 py-3 mb-4 text-center gradient-info text-white">
                <h2>Users of role @ViewBag.Role</h2>
            </div>

            @foreach (var item in Model)
            {

                <div class="col-lg-8 offset-lg-2 justify-content-center">
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <div class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                            <div class="row">
                                <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                    <a href="@Url.RouteUrl("Profile", new { user = item.UserIdentity })">
                                        <img src="@Url.Content(item.ProfilePicture)" alt="@item.FullName" style="max-width: 7rem" class="rounded-circle mx-3 my-2 my-lg-0">
                                    </a>

                                </div>
                                <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                    <div class="row">
                                        <div class="col-lg-12 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                            <p class="h5 mb-0 mt-3 mt-lg-0 font-weight-bold text-uppercase">@item.FullName</p>
                                        </div>
                                        <div class="col-lg-12 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                            <p class="mb-0 mt-3 mt-lg-0">@item.Email</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                    <p class="mb-0 mt-3 mt-lg-0">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.UserIdentity }, new { @class = "text-dark px-1" })|@Html.ActionLink("Details", "Details", new { id = item.UserIdentity }, new { @class = "text-dark px-1" })|@Html.ActionLink("Delete", "Delete", new { id = item.UserIdentity }, new { @class = "text-dark px-1" })
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a href="@Url.RouteUrl("Profile", new { user = item.UserIdentity })" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                            <div class="row">
                                <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                    <img src="@Url.Content(item.ProfilePicture)" alt="@item.FullName" style="max-width: 7rem" class="rounded-circle mx-3 my-2 my-lg-0">
                                </div>
                                <div class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                    <div class="row">
                                        <div class="col-lg-12 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                            <p class="h5 mb-0 mt-3 mt-lg-0 font-weight-bold text-uppercase">@item.FullName</p>
                                        </div>
                                        <div class="col-lg-12 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                            <p class="mb-0 mt-3 mt-lg-0">@item.Email</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
    </section>
