@using Microsoft.AspNet.Identity
@model OnlineHelpDesk.Models.HomeViewModel
@{
    List<OnlineHelpDesk.Models.Notification> notifications = Model.Notifications;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Online Help Desk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    @Styles.Render("~/Content/stylesheet")
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google fonts - Popppins for copy-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/AppStyleSheet/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/AppStyleSheet/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/AppImages/favicon.png">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- StyleSheet area -->
    @RenderSection("stylesheets", required: false)
</head>
<body>
    <!-- navbar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
            <a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a><a href="~/" class="navbar-brand font-weight-bold text-uppercase text-base">Online Help Desk Dashboard</a>
            <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
                <li class="nav-item">
                    <form id="searchForm" class="ml-auto d-none d-lg-block">
                        <div class="form-group position-relative mb-0">
                            <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
                            <input type="search" placeholder="Search ..." class="form-control form-control-sm border-0 no-shadow pl-4">
                        </div>
                    </form>
                </li>
                <li class="nav-item dropdown mr-3">
                    <a id="notifications" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle text-gray-400 px-1"><i class="fa fa-bell"></i>@if (notifications != null) { if (notifications.Count() > 0)
                        {<span class="notification-icon"></span> }
                    } </a>
                    <div aria-labelledby="notifications" class="dropdown-menu">
                        @if (notifications != null)
                        {
                            if (notifications.Count() > 0)
                            {
                                foreach (var item in notifications)
                                {
                                    <a href="#" class="dropdown-item">
                                        <div class="d-flex align-items-center">
                                            <div class="icon icon-sm bg-violet text-white"><i class="fa fa-envelope-o"></i></div>
                                            <div class="text ml-2">
                                                <p class="mb-0">@item.Message</p>
                                            </div>
                                        </div>
                                    </a>
                                }
                                <div class="dropdown-divider"></div><a href="#" class="dropdown-item text-center"><small class="font-weight-bold headings-font-family text-uppercase">View all notifications</small></a>
                            }
                            else
                            {
                                <a class="dropdown-item">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-sm bg-violet text-white"><i class="fa fa-info"></i></div>
                                        <div class="text ml-2">
                                            <p class="mb-0">Not found new notifications</p>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <a class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-sm bg-violet text-white"><i class="fa fa-info"></i></div>
                                    <div class="text ml-2">
                                        <p class="mb-0">Not found new notifications</p>
                                    </div>
                                </div>
                            </a>
                        }



                    </div>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a id="userInfo" href="~/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="~/Content/AppImages/useraccount.png" alt="Jason Doe" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow"></a>
                    <div aria-labelledby="userInfo" class="dropdown-menu">
                        @if (Request.IsAuthenticated)
                        {
                            <a class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">@User.Identity.GetUserName()</strong><small>Web Developer</small></a>
                            <div class="dropdown-divider"></div><a href="~/" class="dropdown-item">Your Profile</a>if (!User.IsInRole("SuperAdmin")) {<a href="~/" class="dropdown-item">Your Request</a>}
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="dropdown-divider"></div><a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Logout</a>
                            }
                        }
                        else
                        {
                            <div class="dropdown-divider"></div><a href="~/Login" class="dropdown-item">Login</a>
                        }
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <div id="sidebar" class="sidebar py-3">
            <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
            <ul class="sidebar-menu list-unstyled">
                <li class="sidebar-list-item"><a href="~/" class="sidebar-link text-muted @ViewBag.HomeActive"><i class="o-home-1 mr-3 text-gray"></i><span>Home</span></a></li>
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("FacilityHead"))
                {
                    <li class="sidebar-list-item"><a href="~/Home/ListRequest" class="sidebar-link text-muted @ViewBag.ListActive"><i class="o-table-content-1 mr-3 text-gray"></i><span>List Request</span></a></li>
                }
                @if (User.IsInRole("Assignor"))
                {
                    <li class="sidebar-list-item"><a href="~/" class="sidebar-link text-muted @ViewBag.AssignedRequestActive"><i class="o-survey-1 mr-3 text-gray"></i><span>Assigned Request</span></a></li>
                }
                @if (!User.IsInRole("SuperAdmin"))
                {
                    <li class="sidebar-list-item"><a href="~/Home/CreateNewRequest" class="sidebar-link text-muted @ViewBag.NewRequestActive"><i class="o-survey-1 mr-3 text-gray"></i><span>New Request</span></a></li>
                }
                <li class="sidebar-list-item">
                    <a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Menu</span></a>
                    <div id="pages" class="collapse">
                        <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                            <li class="sidebar-list-item">
                                <a href="#" data-toggle="collapse" data-target="#informations" aria-expanded="false" aria-controls="informations" class="sidebar-link text-muted pl-lg-5"><i class="fa fa-address-card mr-3 text-gray"></i><span>Information</span></a>
                                <div id="informations" class="collapse">
                                    <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                                        <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Facility-Head</a></li>
                                        <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Assignor</a></li>
                                        <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Student</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="#" data-toggle="collapse" data-target="#manages" aria-expanded="false" aria-controls="manages" class="sidebar-link text-muted pl-lg-5"><i class="fa fa-tasks mr-3 text-gray"></i><span>Manage</span></a>
                                <div id="manages" class="collapse">
                                    <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                                        <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Facility-Head</a></li>
                                        <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Assigner</a></li>
                                        <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Student</a></li>
                                        <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Facility</a></li>
                                        <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Equipment</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">EXTRAS</div>
            <ul class="sidebar-menu list-unstyled">
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-database-1 mr-3 text-gray"></i><span>Demo</span></a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-imac-screen-1 mr-3 text-gray"></i><span>Demo</span></a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-paperwork-1 mr-3 text-gray"></i><span>Demo</span></a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Demo</span></a></li>
            </ul> -->
        </div>
        <div class="page-holder w-100 d-flex flex-wrap">
            <div class="container-fluid px-xl-5">
                @RenderBody()
            </div>
            <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-left text-primary">
                            <p class="mb-2 mb-md-0">Your company &copy; 2018-2020</p>
                        </div>
                        <div class="col-md-6 text-center text-md-right text-gray-400">
                            <p class="mb-0">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a></p>
                            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)
</body>
</html>

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="~/Content/AppImages/icon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Online Help Desk</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
        <script src="https://kit.fontawesome.com/dc591b9115.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header-ad">
            <div class="container">
                <div class="row nav-ohd">
                    <div class="col-md-12 col-sm-12 text-center logo-brand">
                        <a href="~/">
                            <img src="~/Content/AppImages/icon.png" width="60" height="60">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header" id="header">
            <div class="current-page">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 current-page-left">
                            OHD/ <span>@ViewBag.CurrentPage</span>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <ul class="navbar-nav mr-auto ul-nav-ohd">
                                <li class="nav-item">
                                    <a class="link @ViewBag.Home" href="~/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="link @ViewBag.CreateNewRequest" href="">Create new request</a>
                                </li>
                                <li class="nav-item">
                                    <a class="link @ViewBag.ListRequest" href="~/Home/ListRequest">List request</a>
                                </li>
                                <li class="nav-item">
                                    <a class="link no-link" title="Notifications"><i class="far fa-bell animate__animated animate__headShake"></i><span class="no-bgc">2</span></a>
                                    <div class="toggle-field notification-tf">
                                        <ul class="ul-notification">
                                            <li class="li-fixed"><i class="far fa-bell"></i> Notifications</li>
                                            <li class="li-notification">
                                                <ul class="ul-no-item">
                                                    <li class="li-no-item li-no-item-active">
                                                        <a href="" class="no-item">
                                                            <div>
                                                                <span class="no-name">TuanTK assign request for Blass</span>
                                                            </div>
                                                            <div><span class="no-time">6:00pm</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="li-no-item">
                                                        <a href="" class="no-item">
                                                            <div>
                                                                <span class="no-name">TuanTK assign request for Blass</span>
                                                            </div>
                                                            <div><span class="no-time">6:00pm</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="li-no-item">
                                                        <a href="" class="no-item">
                                                            <div>
                                                                <span class="no-name">TuanTK assign request for Blass</span>
                                                            </div>
                                                            <div><span class="no-time">6:00pm</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="li-no-item">
                                                        <a href="" class="no-item">
                                                            <div>
                                                                <span class="no-name">TuanTK assign request for Blass</span>
                                                            </div>
                                                            <div><span class="no-time">6:00pm</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="li-no-item">
                                                        <a href="" class="no-item">
                                                            <div>
                                                                <span class="no-name">TuanTK assign request for Blass</span>
                                                            </div>
                                                            <div><span class="no-time">6:00pm</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="li-no-item">
                                                        <a href="" class="no-item">
                                                            <div>
                                                                <span class="no-name">TuanTK assign request for Blass</span><br>
                                                                <span class="no-time">6:00pm</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="li-no-more">
                                                <a href="">More notifications</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item nav-item-avatar">
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a class="avatar-box link"><img src="~/Content/AppImages/useraccount.png" title="@User.Identity.GetUserName()" width="45" height="45"></a>
                                        <div class="toggle-field profile-tf">
                                            <ul class="ul-profile">
                                                <li class="li-fixed">Hello <span>'@User.Identity.GetUserName()'</span>!</li>
                                                <li class="li-pf-item">
                                                    <a href="">Your Request</a>
                                                </li>
                                                <li class="li-pf-item">
                                                    <a href="">Your Profile</a>
                                                </li>
                                                <li class="li-pf-item">
                                                    @Html.ActionLink("Change Password", "ChangePassword", "Manage")
                                                </li>
                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                {
                                                    <li class="li-pf-item">

                                                        @Html.AntiForgeryToken()
                                                        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>

                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <a class="link" href="">Login</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container content-ohd">
                @RenderBody()
            </div>
        </div>
        <div id="footer" class="row footer none-margin">
            <div class="">
                <div class="col-md-6 col-sm-12 text-center">
                    <b>Online Help Desk system</b>
                    <p>Internal use only.</p>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                    <b>We are:</b>
                    <div class="footer-right">
                        <ul>
                            <li>T</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/custom")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
