@{ 

    string expanded = "false";
    string show = "";
    string student = "";
    string assignor = "";
    string facilityHead = "";
    if (ViewBag.Role != null)
    {
        if (ViewBag.Role == "Student") {
            expanded = "true";
            show = "show";
            student = "active";
        }
        if (ViewBag.Role == "Assignor") {
            expanded = "true";
            show = "show";
            assignor = "active";
        }
        if (ViewBag.Role == "FacilityHead") {
            expanded = "true";
            show = "show";
            facilityHead = "active";
        }
    }
}
<div id="sidebar" class="sidebar py-3 shrink">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item">
            <a href="~/" class="sidebar-link text-muted @ViewBag.Home">
                <i class="o-home-1 mr-3 text-gray"></i><span>Home</span>
            </a>
        </li>

        <li class="sidebar-list-item">
            <a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="@expanded" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Manage</span></a>
            <div id="pages" class="collapse @show">
                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li class="sidebar-list-item">
                        <a href="@Url.Action("Users", "Admin", new { role = "Student" })" class="sidebar-link text-muted @student"><i class="fa fa-address-card mr-3 text-gray"></i><span>Students</span></a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="@Url.Action("Users", "Admin", new { role = "Assignor" })" class="sidebar-link text-muted @assignor"><i class="fa fa-address-card mr-3 text-gray"></i><span>Assignors</span></a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="@Url.Action("Users", "Admin", new { role = "FacilityHead" })" class="sidebar-link text-muted @facilityHead"><i class="fa fa-address-card mr-3 text-gray"></i><span>Facility Heads</span></a>
                    </li>
                </ul>
            </div>
        </li>
        @if (User.IsInRole("SuperAdmin"))
        {
            <li class="sidebar-list-item">
                <a href="@Url.Action("Index", "Admin")" class="sidebar-link text-muted @ViewBag.Import">
                    <i class="fa fa-user-plus mr-3 text-gray"></i>
                    <span>Import</span>
                </a>
            </li>
        }
        @if (User.IsInRole("SuperAdmin") || User.IsInRole("FacilityHead"))
        {
            <li class="sidebar-list-item"><a href="~/Home/ListRequest" class="sidebar-link text-muted @ViewBag.List"><i class="o-table-content-1 mr-3 text-gray"></i><span>List Request</span></a></li>
        }
        @if (!User.IsInRole("SuperAdmin"))
        {
            <li class="sidebar-list-item"><a href="~/Home/CreateNewRequest" class="sidebar-link text-muted @ViewBag.New"><i class="o-survey-1 mr-3 text-gray"></i><span>New Request</span></a></li>
        }
        @if (User.IsInRole("Assignor"))
        {
            <li class="sidebar-list-item"><a href="~/" class="sidebar-link text-muted @ViewBag.Assgin"><i class="o-paperwork-1 mr-3 text-gray"></i><span>Assigned Request</span></a></li>
        }

    </ul>
</div>